@import '../../../../base';

.Header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(50vh + 150px);
  background-color: rgba(22, 82, 160, 0.5);
}

.Header:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  // To prevent overflow on end of x-axis
  width: calc(100% + 1px);
  height: 100%;
  background-image: linear-gradient(150deg, rgba(103, 154, 220, 0.75), rgba(92, 79, 150, 0.75));
}

.Header-video {
  @include full-size-container();
  position: absolute;
  object-fit: cover;
}

.Header-text {
  width: 100%;
  line-height: 50px;
  color: white;
  z-index: 1;
}

.header-text__title {
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.header-text__subtitle {
  font-size: 1rem;
  letter-spacing: 2px;
  margin: 10px 0 20px;
}
