@import '../../../../base';

.contact__container {
  @include full-size-container();
  display: flex;
  flex-direction: column;
  position: fixed;
  background: rgba(22, 82, 160, 0.25);
  backdrop-filter: blur(1px);
  z-index: 2;
}
.contact__container:after {
  @include full-size-container();
  content: '';
  position: absolute;
  background-image: linear-gradient(150deg, var(--primary-color-alt), var(--primary-color));
  opacity: 0.5;
}

.Contact {
  @include center-el();
  @include invisibleScrollbarBrowserSupport();
  display: flex;
  flex-direction: column;
  align-items: center;
  --height-small-inputs: 50px;
  --padding-top-form-message: var(--height-small-inputs);
  position: absolute;
  width: 100%;
  height: 700px;
  padding: 50px 10px 10px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  z-index: 3;
}

.Contact::-webkit-scrollbar {
  display: none;
}

.contact-title {
  color: var(--primary-color);
}

.contact-form {
  @include invisibleScrollbarBrowserSupport();
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding: 0 20px;
  z-index: 3;
  overflow: scroll;
}

.contact-form::-webkit-scrollbar {
  display: none;
}

.contact-form-validator {
  width: 115%;
  position: absolute;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
  top: -35px;
  left: 50%;
  transform: translate(-50%);

  &.error {
    color: #cf6679;
  }

  &.success {
    color: #00c851;
  }
}

.contact-form__placeholder {
  position: absolute;
  top: 0;
  left: 15px;
  pointer-events: none;
  transition: all 0.1s ease;
}

.contact-form__error {
  display: none;
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 20px;
  text-align: left;
  font-size: 0.8rem;
  color: #cf6679;
}

.contact-form__input:focus ~ .contact-form__placeholder,
.contact-form__input:not(:placeholder-shown) ~ .contact-form__placeholder,
.contact-form__textarea:focus ~ .contact-form__placeholder,
.contact-form__textarea:not(:placeholder-shown) ~ .contact-form__placeholder {
  top: -20px;
  left: 10px;
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: all 0.1s ease;
}

.contact-form__input-container,
.contact-form__textarea-container {
  position: relative;
  width: 100%;
  border-bottom: 2px solid rgba(92, 79, 150, 1);
  margin: 25px;
  padding: 0 10px;
}

.contact-form__input-container {
  height: var(--height-small-inputs);
}
.contact-form__input {
  font-size: 1rem;
  height: 100%;
  width: 100%;
}

.contact-form__textarea-container {
  height: calc(150px + 2px + var(--padding-top-form-message)) !important;
}

.contact-form__textarea {
  @include invisibleScrollbarBrowserSupport();
  padding-top: calc(var(--padding-top-form-message) * 0.3);
  width: 100% !important;
  height: 100%;
  font-size: 1rem;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contact-form__textarea::-webkit-scrollbar {
  display: none;
}

.contact-form__input:invalid:not(:focus):not(:placeholder-shown) ~ .contact-form__placeholder,
.contact-form__textarea:invalid:not(:focus):not(:placeholder-shown)
  ~ .contact-form__placeholder {
  color: #cf6679;
}

.contact-form__input:invalid:not(:focus):not(:placeholder-shown) ~ .contact-form__error {
  display: block;
}

.contact-form__buttons {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 15px;
  padding: 0 10px;
}

.contact-form__buttons > * {
  align-self: center;
  z-index: 3;
}

@media (min-width: 730px) {
  .Contact {
    width: 730px;
  }
}

@media (max-height: 700px) {
  .Contact {
    height: 100%;
    padding-top: 25px;
  }
}

@media (max-width: 300px) {
  .contact-form__buttons {
    flex-wrap: wrap;
  }
}
