@mixin full-size-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@mixin flex-col-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin center-el {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin link-button {
  min-width: 125px;
  margin: 10px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 20px;
  cursor: pointer;
}

.contact__container {
  @include full-size-container();
  @include flex-col-center-center();
  position: fixed;
  background: rgba(22, 82, 160, 0.25);
  backdrop-filter: blur(1px);
  z-index: 1;
}
.contact__container:after {
  @include full-size-container();
  content: '';
  position: absolute;
  background-image: linear-gradient(150deg, var(--primary-color-alt), var(--primary-color));
  opacity: 0.5;
}

.Contact {
  @include flex-col-center-center();
  @include center-el();
  --height-small-inputs: 50px;
  --width-inputs: 100%;
  --padding-top-form-message: var(--height-small-inputs);
  position: absolute;
  width: 95%;
  height: 700px;
  padding: 50px 10px 10px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  z-index: 2;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.Contact::-webkit-scrollbar {
  display: none;
}

.contact-title {
  color: var(--primary-color);
}

.contact-form {
  position: relative;
  @include flex-col-center-center();
  width: 95%;
  height: 100%;
  padding: 0 20px;
  z-index: 3;
  // border: 1px solid black;
}

.contact-form-validator {
  opacity: 0%;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}

.contact-form__input-container {
  position: relative;
  width: var(--width-inputs);
  border-bottom: 2px solid rgba(92, 79, 150, 1);
}

.contact-form__placeholder {
  position: absolute;
  top: 10px;
  left: 15px;
  pointer-events: none;
}

.contact-form__error {
  display: none;
  position: absolute;
  left: 0;
  bottom: -30px;
  height: 20px;
  text-align: left;
  font-size: 0.8rem;
  color: #cf6679;
}

.contact-form__input:focus ~ .contact-form__placeholder,
.contact-form__input:not(:placeholder-shown) ~ .contact-form__placeholder,
.contact-form__textarea:focus ~ .contact-form__placeholder,
.contact-form__textarea:not(:placeholder-shown) ~ .contact-form__placeholder {
  top: -10px;
  left: 10px;
  font-size: 0.8rem;
  color: var(--primary-color);
  transition: all 0.2s ease;
}

.contact-form > * {
  margin: 25px;
  padding: 0 10px;
}

.contact-form__input:invalid:not(:focus),
.contact-form__textarea:invalid:not(:focus) {
  color: #cf6679;
}

.contact-form__input:invalid:not(:focus):not(:placeholder-shown) ~ .contact-form__error {
  display: block;
}

.contact-form__input {
  width: var(--width-inputs);
  height: var(--height-small-inputs);
  font-size: 1rem;
}

.contact-form__buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 10px;
  padding-bottom: 20px;
}

.contact-form__buttons > * {
  align-self: center;
  z-index: 3;
}

.contact-form__button,
.contact-form__button--raised {
  @include link-button();
}

.contact-form__button {
  color: var(--primary-color);
}

.contact-form__button--raised {
  background-color: var(--primary-color);
  color: white;
}

.contact-form__textarea {
  padding-top: calc(var(--padding-top-form-message) * 0.3);
  height: calc(150px + 2px + var(--padding-top-form-message)) !important;
  width: var(--width-inputs) !important;
  font-size: 1rem;
  overflow: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.contact-form__textarea::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .Contact {
    width: 730px;
  }
}

@media (max-height: 700px) {
  .Contact {
    height: 100%;
    overflow: scroll;
  }
}

@media (max-width: 300px) {
  .contact-form__buttons {
    flex-wrap: wrap;
  }
}
